* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color-p);
    width: 100%;
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    height: 100%;
}

.column {
    display: flex;

    height: 100%;
}
.smal {
    width: 80%;
    padding: 20px;
}
.large {
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}
nav {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 60px;
}
nav img {
    position: absolute;
    top: 10px;
    left: 30px;
    width: 5%;
}

.navigate {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column;
    height: 100%;
}
.nav-onlgets {
    display: flex;
    gap: 8px;
    flex-direction: column;
}
.onglets a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
}
.navigate .onglets {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    border-radius: 40px;
    padding: 10px 10px;
}

.navigate .onglets:hover {
    background-color: rgba(112, 112, 112, 0.548);
}
.onglets i {
    font-size: 25px;
    color: white;
    background-color: transparent;
}
.navigate .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 30px;
    margin-top: 20px;
    border-radius: 50px;
    background-color: white;
    color: black;
    width: 95%;
    font-size: 1.2em;
    font-style: bold;
    text-decoration: none;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.pp {
    width: 30%;
    height: 80%;
    border-radius: 100%;
    background-color: rgb(40, 206, 248);
}
.profil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}
.profil i {
    font-size: 1.5em;
    color: white;
}

.profil-name {
    font-size: 1.2em;
    color: white;
}
.profil-name p {
    color: rgba(124, 124, 124, 0.637);
}

/* DIV CENTER HEADER  */

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.categorie {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-bottom: 1px solid var(--border);
}
.categorie button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    text-decoration: none;
    border: none;
    color: white;
    transition: 0.3s all ease-in-out;
}
.categorie button:hover {
    background-color: rgba(128, 128, 128, 0.527);
}
.categorie button span {
    color: rgb(179, 15, 255);
    background-color: transparent;
}

/* DIV CENTER MIDDLE  */
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--border);
    border-top: 1px solid var(--border);
}
.create-post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 115px;
    padding: 20px 0px;
    border-bottom: 1px solid var(--border);
}
.post-input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    width: 100%;
    height: 70px;
    padding: 0px 20px;
}
.post-input input {
    width: 90%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1.2em;
}
.post-input input::placeholder {
    color: rgba(255, 255, 255, 0.637);
    font-size: 1.2em;
}
.post-input .pp {
    width: 8%;
    height: 70%;
    border-radius: 100%;
    background-color: rgb(40, 206, 248);
}
.post-input .pp:hover {
    cursor: pointer;
}
.post-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    padding: 0px 20px;
}
.options-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 20px;
}
.options-right i {
    font-size: 1.5em;
    color: white;
}
.options-right i:hover {
    cursor: pointer;
    color: rgb(179, 15, 255);
}
.options-right button {
    padding: 10px 20px;
    border-radius: 50px;
    background-color: rgb(179, 15, 255);
    color: white;
    font-size: 1em;
    border: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.post-button:hover {
    cursor: pointer;
    background-color: rgb(128, 0, 255);
}

/* DIV CENTER BOTTOM  */

.post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid var(--border);
    padding: 20px;
    margin-top: 20px;
}
.post-user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9em;
    color: white;
}
.post-user .tag {
    color: rgba(255, 255, 255, 0.637);
}
.post-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 0px;
    font-size: 1.2em;
    color: white;
}
